.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.py-2{
    padding:12px 0px;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-space-around{
    justify-content: space-around;
}

.align-end{
    align-items: end;
}
.bold{
    font-weight: bolder;
}
.light{
    font-weight: lighter;
    font-size: 12px;
}

.p-0{
    padding: 0;
}
.m-0{
    margin: 0;
}
